---
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import MusicPlayer from "@/components/widgets/MusicPlayer.astro";
import { siteConfig } from "@/config";
import { musicList, playlistCounts, playlistSongs } from "@/data/music";
import MainGridLayout from "@/layouts/MainGridLayout.astro";

const basePlaylists = siteConfig.music?.playlists || [];
const playlists = [
	{ id: "all", name: "全部音乐" },
	...basePlaylists.map((pl) => ({ id: pl.id, name: pl.name })),
];

const counts = { ...playlistCounts, all: musicList.length };
const songs = { ...playlistSongs, all: musicList };
---

<MainGridLayout title={i18n(I18nKey.music)} description={i18n(I18nKey.music)}>
  <div class="py-8 px-4">
    <MusicPlayer
      list={musicList}
      playlists={playlists}
      playlistCounts={counts}
      playlistSongs={songs}
    />
  </div>
</MainGridLayout>
